@page "/"

<div id="topo">
    <Landing.Components.Sections.HeroSection />
</div>

<div id="servicos">
    <Landing.Components.Sections.ServicesSection />
</div>

<div id="beneficios">
    <Landing.Components.Sections.BenefitsSection />
</div>

<Landing.Components.Shared.CounterStats />

<div id="como-funciona">
    <Landing.Components.Sections.HowItWorksSection />
</div>

<div id="depoimentos">
    <Landing.Components.Sections.TestimonialsSection />
</div>

<div id="faq">
    <Landing.Components.Sections.FaqSection />
</div>

<div id="contato">
    <Landing.Components.Sections.FinalCtaSection />
</div>
